{% extends 'layouts/main.html' %}
{% block title %}Autoforms from Sqlalchemy{% endblock %}
{% block content %}
<br>
<div class="page-header">
  <h1>Data forms</h1>
</div>
<p class="lead">
    Status: {{ status }}

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#search" role="tab" data-toggle="tab">Search
        </a> </li>
      <li class="nav-item">
        <a class="nav-link" href="#insert" role="tab" data-toggle="tab">Insert
        </a> </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="search">
            <div class="padb"> <h2>Search form</h2>
                {% block search %}{% endblock %}
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="insert">
            <div class="padb"> <h2>Insert form</h2>
                {% block insert %}{% endblock %}
            </div>
        </div>
    </div>

</p>
{% endblock %}