<!DOCTYPE html>
<html lang="en">
  <head>
<!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="description" content="">
    <meta name="author" content="">
<!-- /meta -->

    <title>{{ project }}: {% block title %}{% endblock %}</title>


<!-- styles
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
-->
<link href="/static/offline/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/offline/bootstrap.css">

<link type="text/css" rel="stylesheet" href="/static/css/layout.main.css" />
{% block customstylesheets %}{% endblock %}
<!-- /styles -->

<!-- favicons -->
<link rel="shortcut icon" href="/static/ico/favicon.png">
<!-- /favicons -->

</head>
<body {% block bodyclass %}{% endblock %}>

    <!-- Wrap all page content here -->
    <div id="wrap">
    {% block topbar %}{% endblock %}
        <!-- Begin page content -->
        <main id="content" role="main" class="container">
        <br>
        <!-- http://flask.pocoo.org/docs/0.10/patterns/flashing/
            Possible alerts: info success warning danger -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'message' %}
                        <div class="alert alert-info alert-dismissible" role="alert">
                    {% else %}
                        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                    {% endif %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}

        </main>
    </div>

{% block footer %}{% endblock %}

<!-- jQuery first, then Bootstrap JS.
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
-->

<script src='/static/offline/jquery-2.1.4.min.js'></script>
<script src="/static/offline/bootstrap.min.js"></script>
<script defer src="/static/js/plugins.js"></script>
<script defer src="/static/js/script.js"></script>

  <!--
  Google Analytics - Change UA-XXXXX-X to be your site's ID
  <script>
  window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });
  </script>
  -->

</body>
</html>