{% extends 'layouts/index.html' %}

{% block topbar %}
<nav class="navbar navbar-fixed-top navbar-light bg-faded"
    style="background-color: #D4E9FF;"
    >

  {% if not mainlogo and not secondarylogo %}
  <a href="#" class="pull-right" style='padding-right:10px;'>
    <img src="static/img/default.png" width="130"></a>
  {% else %}
      {% if mainlogo %}
      <a href="#" class="pull-right" style='padding-right:10px;'>
        <img src="{{ mainlogo }}" width="180"></a>
      {% endif %}
      {% if secondarylogo %}
      <a href="#" class="pull-right" style='padding-right:10px;'>
        <img src="{{ secondarylogo }}" width="350"></a>
      {% endif %}
  {% endif %}


  <a class="navbar-brand pull-left" href="/">
  {{ project }}
  </a>
  <ul class="nav navbar-nav">
    {% for menu in menus %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('.' + menu) }}">
            {{ menu.capitalize() }}
        </a>
    </li>
    {% endfor %}
    {% if g.user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('.logout') }}">Log-Out</a>
    </li>
    {% endif %}

  </ul>

</nav>
{% endblock %}

{% if footer %}
    {% block footer %}
    <footer class="footer">
      <div class="container">
          <br>
          <p> {{ footer }} </p>
          {% block extrafootercontent %}{% endblock %}
      </div>
    </footer>
    {% endblock %}
{% endif %}