{% extends 'layouts/index.html' %}

{% block topbar %}
  {% if topbar_color %}
    {% if topbar_color == 'dark' %}
      <nav class="navbar navbar-dark bg-inverse navbar-fixed-top">
    {% else %}
      <nav class="navbar navbar-fixed-top navbar-light bg-faded" style="background-color: #{{ topbar-color }};">
    {% endif %}
  {% else %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
  {% endif %}

  {% if not logos %}
  <a href="#" class="pull-right" style='padding-right:10px;'>
    <img src="static/img/default.png" width="130"></a>
  {% else %}
      {% for logo in logos %}
          <a href="#" class="pull-right" style='padding-right:10px;'>
            <img src="{{ logo.src }}" width="{{ logo.width }}"></a>
      {% endfor %}
  {% endif %}
  <a class="navbar-brand pull-left" href="/"> {{ project }} </a>
  <ul class="nav navbar-nav">
    {% for menu in menus %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('.' + menu) }}">
            {{ menu.capitalize() }}
        </a>
    </li>
    {% endfor %}
    {% if g.user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('.logout') }}">Log-Out</a>
    </li>
    {% endif %}

  </ul>

</nav>
{% endblock %}

{% if footer %}
    {% block footer %}
    <footer class="footer">
      <div class="container">
          <br>
          <p> {{ footer }} </p>
          {% block extrafootercontent %}{% endblock %}
      </div>
    </footer>
    {% endblock %}
{% endif %}