<!-- Modified from http://flask.pocoo.org/docs/0.10/patterns/wtforms/ -->
{% macro render_field(field, name=True) %}

<div class="row">

  <div class="col-lg-8 col-md-8 col-sm-8">

    <div class="input-group">
    {{ field(class_='form-control',**kwargs)|safe }}
    {% if name %}
      <span class="input-group-btn">
        <button class="btn btn-secondary">
          {{ field.label }}
        </button>
      </span>
    {% endif %}
    </div><!-- /input-group -->

  </div>

  <div class="col-lg-4 col-md-4 col-sm-4">
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </div>

</div>

{% endmacro %}