{% extends 'layouts/data.html' %}

{% block search %}
    TEST SEARCH
{% endblock %}

{% block insert %}
{% from "forms/_formbootstr.html" import render_field %}
<form action="logintest" method="post">

    {{ render_field(form.name, placeholder = 'test' ,
        required = true, autofocus = true ) }}
    {{ render_field(form.test_select_a) }}
    {{ render_field(form.email, placeholder = 'yourname@email.com' ,
        required = true ) }}
    {{ render_field(form.password, placeholder='***', required = true) }}

    {{ form.csrf_token }}
  <div class="form-group row">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </div>
</form>
{% endblock %}